[submodule "GNPS2_DeploymentTooling"]
	path = GNPS2_DeploymentTooling
	url = https://github.com/Wang-Bioinformatics-Lab/GNPS2_DeploymentTooling.git
[submodule "bin/GNPS_sharedcode"]
	path = bin/GNPS_sharedcode
	url = https://github.com/mwang87/GNPS_sharedcode.git
